<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='ui_css.css') }}">
</head>
<body>

<div class="navbar">
  <!-- <a href="#Donate">Donate</a> -->
  <!-- <a href="#Account">Account</a> -->
  
  <div class="Account">
    <button class="dropbtn">Account 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="Account-content">
      <a href="/existing_user">Existing User</a>

      <a href="/new_user">New User</a>
      <!-- <a href="#">Other essentials</a> -->
    </div>
  </div> 

  <a href="/about_us">About Us</a>
  <a href="/volunteering">Volunteering</a>
  <div class="Donate">
    <button class="dropbtn">Donate 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="Donate-content">
      <a href="#">Monetary Contribution</a>
      <a href="#">Food Donation</a>
      <a href="#">Other essentials</a>
    </div>
      {% block body %}{% endblock %}
  </div> 
</div>

</body>
</html>
