{% extends 'default.html' %}

{% block body %}
<img src="{{ url_for('static', filename='ppe_1.jpg') }}" height = '550px' width = auto>
<span class = 'graph_covid'>
    <a href="https://www.mygov.in/covid-19">
        <img src="{{ url_for('static', filename='india_covid.png') }}" height="450px" width=auto>
    </a>
</span>

<div id ="you_are_not_alone">
<a href ="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">
<img src="{{ url_for('static', filename='you_are_not_alone.jpg') }}" height = '300px' width = auto>
<p>Click for pan-India covid helpline numbers</p>
</a>
</div>

<!-- <div id = "feeding_india">
<img src="feeding_india.jpg" height = '500px' width = auto>
</div> -->
{% endblock %}