<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("{{ url_for('static', filename='img1.jpg') }}");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>

<div id ="add_formatting">
    <p>We are an NGO - 'hackermen' committed to using our 
        technical-managerial acumen in helping the society
        in these tough times.</p>
</div>

<style>
    #add_formatting{
        margin : auto;
        font-size: larger;
        font-weight: bold;
    }
</style>
</body>
</html>